{% extends 'base2.html' %}
{% block title %}
  | Rest Password
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-3 accounts">
				<div align="center">
					<h2>Enter your new password</h2>		
				</div>
			
			<form method="post" class="form-group">
				{% csrf_token %}
				<label>New Password</label>
				<input type="password" name="new_password1" class="form-control">
				<label>Confirm new password</label>
				<input type="password" name="new_password2" class="form-control"><br>
				<button type="submit" class="btn btn-primary"> reset </button>
			</form>
			</div>
		</div>
	</div>
{% endblock%}