
{% extends 'base.html' %}
{% load static %}
{% block description %}
      <meta name="description" content="Welcome to workvat we value you as a customer">
{% endblock %}
<!-- {% block title %}
  Index
{% endblock %} -->
{% block front %}
	  <div class="mb-5 text-center"><br>
              <h1 class="text-white font-weight-bold">Welcome To Workvat</h1>
              <p>Workvat is a solid accomplice for People seeking for a reliable Freelance services ranging from academics to personal projects. For those seeking after self-improvement, our organization is additionally the correct decision since we offer various intriguing ventures and open doors for personal development we are open 24 hours.</p>
              <br><a href="{% url 'assignment:services'%}"><button class="btn btn-light btn-outline-primary" style="background-color:transparent"><h3 style="color: white;">Check pricing</h3></button></a>
            </div>
            {% if not request.user.is_authenticated%}
            <form method="post" class="search-jobs-form" action="{% url 'accounts:signup'%}">
            	{% csrf_token %}
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="First Name" name="firstName" required>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="Last Name" name="lastName" required>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Email" name="email" required>
                </div>
                {% if userAv%}
                  <p style="color:red">Email already exist</p>
                {% endif%}
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">Signup</button>
                </div>
              </div>
            </form>
            {% endif %}
{% endblock %}

{% block content %}
    
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('../../static/images/hero_1.jpg');">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2 text-white">Jobs Statistics</h2>
            <p class="lead text-white">A sumary of our excellent work</p>
          </div>
        </div>
        <div class="row pb-0 block__19738 section-counter">

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="743">0</strong>
            </div>
            <span class="caption">Users</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="16052">0</strong>
            </div>
            <span class="caption">Jobs Posted</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="15534">0</strong>
            </div>
            <span class="caption">Jobs Completed</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="213">0</strong>
            </div>
            <span class="caption">Tutors</span>
          </div>

            
        </div>
      </div>
    </section><br><br>

    
<!-- 
     <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center" id="sample_work">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Sample Jobs</h2>
          </div>
        </div>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Price(per page)</th>
              <th>Download</th>
              <th>More</th>
            </tr>
          </thead>
          <tbody>
            {% for assignment in assignments%}
              <tr>
                <td>{{assignment.title}}</td>
                <td>{{assignment.assignmentType.name}}</td>
                <td>{{assignment.assignmentpayment.userPrice}}</td>
                 <td><a href="{% url 'assignment:downloadFinished' assignment.assignmentmedia.id %}" class="icon-download"></a></td>
               <td><a href="{% url 'assignment:singleAssignment' assignment.id %}"><h1 class="icon-navigate_next" style="color: green; font-size: 40px;"></h1></a></td>

               
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </section>
 -->
    


    <section class="site-section py-4 mb-5 border-top">
      <div class="container">
  
        <div class="row align-items-center">
          <div class="col-12 text-center mt-4 mb-5">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <h2 class="section-title mb-2">About Us</h2>
                <p class="lead">Workvat is an online freelance  website with experienced online freelance workers with over ten years’ experience in Delivery of ; Assignments , all types of Essays, article review, course work , business plan ,presentation or speech ,term paper, dissertation ,websites  applications and software computer projects, Projects Essays, Thesis Papers, Dissertations, publications and other academic works. Students and Writers communicate directly, without intermediaries...</p>
              </div>
            </div>
            
          </div>
       
        </div>
        <div align="center" class="col">
            <a href="{% url 'accounts:about'%}"><button class="btn btn-primary">Read More</button></a>
          </div>
      </div>
    </section>


    <section class="bg-light pt-5 testimony-full">
        
        <div class="owl-carousel single-carousel">

        {% for testimonial in testimonials %}
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mx-auto " >
                <img class="img-fluid mx-auto" src="{% static 'images/user.jpeg' %}" alt="Image">
                <blockquote>
                  <p>&ldquo;{{testimonial.content | safe}}.&rdquo;</p>
                  <p><cite> &mdash; {{testimonial.user.first_name}} {{testimonial.user.last_name}}</cite></p>
                </blockquote>
              </div>
            </div>
          </div>
          {% endfor %}

      </div>

    </section>

{% endblock%}