
{% extends 'base.html' %}
{% load static %}
{% block description %}
      <meta name="description" content="Welcome to workvat we value you as a customer">
{% endblock %}
{% block title %}
  Index
{% endblock %}
{% block front %}
	  <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Welcome To Workvat</h1>
              <p>We value education and assisting one another</p>
            </div>
            {% if not request.user.is_authenticated%}
            <form method="post" class="search-jobs-form" action="{% url 'accounts:signup'%}">
            	{% csrf_token %}
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="First Name" name="firstName" required>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="Last Name" name="lastName" required>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Email" name="email" required>
                </div>
            
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">Signup</button>
                </div>
              </div>
            </form>
            {% endif %}
{% endblock %}

{% block content %}
    
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('../../static/images/hero_1.jpg');">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2 text-white">Jobs Statistics</h2>
            <p class="lead text-white">A sumary of our excellent work</p>
          </div>
        </div>
        <div class="row pb-0 block__19738 section-counter">

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="1000">0</strong>
            </div>
            <span class="caption">Users</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="16052">0</strong>
            </div>
            <span class="caption">Jobs Posted</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="15534">0</strong>
            </div>
            <span class="caption">Jobs Completed</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="213">0</strong>
            </div>
            <span class="caption">Tutors</span>
          </div>

            
        </div>
      </div>
    </section>

    

     <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center" id="sample_work">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Sample Jobs</h2>
          </div>
        </div>

        <table class="table table-stripped">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>price</td>
              <td>More</td>
            </tr>
          </thead>
          <tbody>
            {% for assignment in assignments%}
              <tr>
                <td>{{assignment.title}}</td>
                <td>{{assignment.assignmentType.name}}</td>
                <td>{{assignment.assignmentpayment.userPrice}}</td>
                <td><a href="{% url 'assignment:singleAssignment' assignment.id %}"><button class="btn btn-secondary">More</button></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </section>

    


    <section class="site-section py-4 mb-5 border-top">
      <div class="container">
  
        <div class="row align-items-center">
          <div class="col-12 text-center mt-4 mb-5">
            <div class="row justify-content-center">
              <div class="col-md-7">
                <h2 class="section-title mb-2">About Our Services</h2>
                <p class="lead">We over educational support to our customer by assisting them in various areas of speciality. We have quality staffs who are motivated in not just helping but also creating friendship</p>
              </div>
            </div>
            
          </div>
       
        </div>
        <div align="center" class="col">
            <a href="{% url 'accounts:about'%}"><button class="btn btn-primary">Read More</button></a>
          </div>
      </div>
    </section>


    <section class="bg-light pt-5 testimony-full">
        
        <div class="owl-carousel single-carousel">

        {% for testimonial in testimonials %}
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mx-auto " >
                <img class="img-fluid mx-auto" src="{% static 'images/user.jpeg' %}" alt="Image">
                <blockquote>
                  <p>&ldquo;{{testimonial.content | safe}}.&rdquo;</p>
                  <p><cite> &mdash; {{testimonial.user.first_name}} {{testimonial.user.last_name}}</cite></p>
                </blockquote>
              </div>
            </div>
          </div>
          {% endfor %}

      </div>

    </section>

{% endblock%}